/* =============
General settings
================ */

* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

html, body { 
    --white: #ffffff;
    --black: #252525;
    --color-1: #6b7280;
    --color-2: #d1d5dB;
    --color-3: #374151;
    --color-5: #dfdfdd;
    --color-6: #363636;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body {
    font-size: 0.875rem;
    background-color: var(--white);
    color: var(--color-1);
    line-height: 1.6;
}

/* =============
Typography
================ */

h1, h2, a {
    margin: 0;
}

h1 {
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: -4.5%;
}

h2 {
    font-size: 1.125rem;
    font-weight: 500;
    color: #000000;
}

.movie-rating,
.movie-runtime,
.movie-genre,
button.watchlist-btn {
    font-size: 0.75rem;
    color: #111827;
}

button#add-to-waitlist {
    background: transparent;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-6)
}

nav a {
    color: inherit;
}

.light-text {
    color: var(--color-5);
    font-weight: 700;
}

/* =============
Layout
================ */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--black);
    background-image: url(images/image.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: 0% 22%;
    color: var(--white);
    height: 208px;
}

main {
    width: 94%;
    max-width: 700px;
    margin: 0 auto;
}

form#search-movie-form {
    display: flex;
    justify-content: center;
    margin: -20px 0 0;
    border: 1px solid var(--color-2);
    border-radius: 6px;
}

input,
button {
    border: 0;
    padding: 9px 13px;
}

input {
    width: 70%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

button {
    width: 30%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: var(--color-3);
    cursor: pointer;
}

button.watchlist-btn {
    background: none;
}

div.movie {
    display: flex;
    border-bottom: 1px solid #E5E7EB;
    padding: 2em 0;
}

div#movie-searchlist-container,
div#movie-wachtlist-container {
    min-height: calc(100vh - 208px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.icon-img {
    max-width: 70px;
}

img.movie-poster {
    order: -1;
    width: 150px;
    height: calc(150px * 1.5);
    margin-right: 1em;
    object-fit: cover;
    object-position: center;
}

div.movie-main-info,
div.movie-secondary-info {
    display: flex;
    align-items: center;
}

div.movie-secondary-info {
    justify-content: space-between;
}

h2.movie-title {
    margin-right: 1em;
}

div.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p.movie-genre {
    padding: 0 1em;
}

a.add-movie span,
button.watchlist-btn span {
    background: var(--black);
    color: var(--white);
    margin-right: 0.5em;
    border-radius: 50%;
}

a.add-movie span {
    padding: 0.15em 0.35em 0.2em;
}

button.watchlist-btn span {
    padding: 0.1em 0.1em 0.2em 0.35em;
}

@media (min-width:550px) {
    h1 {
        font-size: 2.6rem;
    }
    main {
        width: 80%;
    }
    h2.movie-title {
        margin-right: 1em;
    }
    form#search-movie {
        margin-bottom: 1.5em;
    }
}